body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
  background: #FAFAFB;
  cursor: default;
}

.MuiContainer-maxWidthXl {
  max-width: 1328px;
}

.gradientText {
  background: linear-gradient(152.26deg, #F74545 0%, #3384F5 101.41%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* TopHeader CSS */
.headCrumb button {
  background: #FFFFFF;
  border-radius: 4px;
  padding: 6px 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #2A3B51;
  text-transform: none;
  font-family: 'Manrope', sans-serif;
}

.headCrumb-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.headCrumb p {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */


  color: #2A3B51;
}

/* SiteHeader CSS */
.siteHeader-inner {
  padding-top: 20px;
  justify-content: space-between;
}

@media (min-width: 500px) {
  .displayIfSmall {
    display: none;
  }
}
@media (max-width: 500px) {
  .hideIfSmall {
    display: none;
  }
}

/* SearchBlock CSS */
.searchBlock {
  padding: 120px 0;
}

.searchBlock p {
  font-weight: 700;
  font-size: 38px;
  line-height: 52px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #2A3B51;
  margin: 0 auto 32px;
}

.searchBlock-form {
  border: 1px solid rgba(179, 193, 213, 0.8);
  border-radius: 40px;
  display: flex;
  max-width: 852px;
  margin: 0 auto;
  background: #FFFFFF;
  position: relative;

  &:hover, &:has(input:focus) {
    border-color: transparent;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
  }

  .mainSearchButton {
    margin: -1px;
  }
}

.searchBlock-form .MuiButtonBase-root {
  background: rgba(131, 155, 187, 0.6);
  border-radius: 0px 40px 40px 0px;
  min-width: 50px;
  padding: 10px;

  width: 70px;
  box-shadow: none !important;

  @media (max-width: 500px) {
    width: 50px;
  }
}

.searchBlock-form fieldset {
  border: none;
}

.searchBlock-form input {
  padding: 20px 48px;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #2A3B51;
  border-radius: 40px 0 0 40px !important; /* For Chrome Completion Background */
  cursor: pointer;
}

.searchBlock-form input::placeholder {
  color: #839BBB;
  opacity: 1; /* Firefox */
}

.searchBlock-form .scanIcon {
  position: absolute;
  right: 65px;
  top: 18px;
}

.ChainStats {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 20px;

  &-box {
    min-width: 200px;
    padding: 1px;
    margin: 10px;
    background: linear-gradient(152.26deg, #f7454520 0%, #3384f520 101.41%);
    border-radius: 50px;

    &:hover {
      border-color: transparent;
      box-shadow: 2px 3px 2px 0px #f7454520, 2px 3px 2px 0px #3384f520;
    }
  }

  &-box--important .ChainStats-inner {
    background: none;
  }

  &-inner {
    background: #FFFFFF;
    padding: 10px 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
  }

  &-content {
    flex: 1;
    padding: 0 20px;
    color: grey;
  }

  .gradientText {
    font-weight: bold;
    line-height: 25px;
  }

  @media (max-width: 900px) {
    margin: 10px 5px;

    &-box {
      min-width: 160px;
      margin: 5px;
      font-size: 15px;
    }
    &-content {
      padding: 10px 20px;
    }
    &-inner {
      padding: 0;
    }
    &-box:nth-child(1) &-inner {
      padding-right: 0px;
    }
    .gradientText {
      line-height: initial;
    }
  }

  @media (max-width: 620px) {
    overflow-x: auto;
    flex-wrap: nowrap;
    justify-content: start;

    &-box {
      flex-shrink: 0;
    }
  }

  @media (max-width: 420px) {
    &-box {
      min-width: 100px;
    }
    &-content {
      padding: 5px 15px;
    }
    &-box:nth-child(1) &-content {
      padding-right: 0px;
    }
  }
}

.cardBox {
  background: linear-gradient(152.26deg, #f7454520 0%, #3384f520 101.41%);
  border-radius: 50px;
  padding: 1px;
  width: 200px;
  margin: 10px;
}

.cardBox-inner {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 10px 15px;
}

.cardBox-head {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.cardBox-title {
  font-weight: 300 !important;
  font-size: 16px !important;
  color: #2A3B51 !important;
  font-family: 'Open Sans', sans-serif !important;
  margin: 0 !important;
}

.cardBox-price {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cardBox-price span {
  font-weight: 700;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif !important;
}

.cardBox-status {
  font-weight: 300 !important;
  font-size: 14px !important;
  line-height: 25px !important;
  font-family: 'Open Sans', sans-serif !important;
  color: #839BBB;
}

.cardBox--info .cardBox-inner {
  background: linear-gradient(152.26deg, rgba(247, 69, 69, 0.06) 0%, rgba(51, 132, 245, 0.06) 101.41%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
}
.cardBox-generalinfo{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
}

.sliderBlock {
  margin-bottom: 60px;
}

.sectionHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 8px 8px;
  margin-bottom: 16px;
  position: relative;
}

.sectionHead-title {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 27px;
  color: #2A3B51;
}

.selectBox fieldset {
  border: 1px solid rgba(131, 155, 187, 0.4);
  border-radius: 20px;
}

.selectBox:hover fieldset {
  border: 2px solid #1976d2 !important;
}

.selectBox .MuiSelect-select {
  font-weight: 300;
  font-size: 16px;
  color: #2A3B51;
  font-family: 'Open Sans', sans-serif !important;
  padding: 10px 15px;
}

.Carousel {
  overflow-x: hidden;
}

.CarouselSlide {
  position: relative;
  padding-top: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 20px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    background: linear-gradient(-160deg, rgb(0 0 0 / 14%) 60%, rgb(0 0 0 / 49%) 100%);
    border-radius: 20px;
  }

  &-title-floating {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: white !important;
    font-weight: 700 !important;
    padding: 8px 15px;
    border-radius: 10px;
    z-index: 2;
  }

  &-title {
    font-weight: 700 !important;
    font-size: 20px !important;
    margin: 0 !important;
  }

  &-subTitle {
    font-weight: 300 !important;
    font-size: 14px !important;
    color: #dadada;
    margin: 0 !important;
  }

  &-likeBtn {
    position: absolute;
    right: 14px;
    top: 14px;
    background: rgba(160, 163, 189, 0.6);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.listTableBlock {
  margin: 60px 0;
}

.listTableBlock table td,
.listTableBlock table th {
  padding: 15px 0;
  border: none;
  background: transparent !important;
}

.listTableBlock table tr {
  background: transparent !important;
}

.listTableBlock table {
  .MuiTableHead-root th, .MuiTableBody-root td {
    font-weight: 500;
    font-size: 18px;
    color: #839BBB;

    @media (max-width: 900px) {
      font-size: 16px;
    }
  }

  .MuiTableHead-root th {
    font-weight: bold;
  }

  .MuiTableBody-root td {
    color: rgba(44, 49, 49, 0.8);
  }

  .MuiTableCell-root:first-child {
    font-weight: bold;
  }
}

.MuiTableContainer-root {
  box-shadow: none !important;
  background-color: transparent !important;
}

.userBox {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Open Sans', sans-serif !important;
  color: #2C3131;
}


.MuiTypography-root {
  font-family: "Open Sans", sans-serif !important;
}
.SearchBox {
  width: 500px;
}
.pageTemplate {
  padding: 25px 0;
  &__head {
    margin-bottom: 23px;
  }
  &__title {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 700 !important;
    font-size: 30px !important;
    line-height: 41px !important;
    color: #2a3b51;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &__status {
    background: #ffffff;
    border: 1px solid rgba(131, 155, 187, 0.4);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    gap: 6px;
  }
  &__body {
    margin: 0;
    width: 100%;
  }
  &__PlayBtnText {
    margin-top: 35px;
    a {
      display: flex;
      align-items: center;
      gap: 10px;
      font-style: italic;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-decoration-line: underline;
      color: #839bbb;
    }
  }
}
.transferCard {
  background: #ffffff;
  border: 1px solid #53d258;
  border-radius: 10px;
  padding: 40px 28px;
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 45px;
  }
  &__title {
    display: flex;
    align-items: center;
    gap: 17px;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 36px !important;
    line-height: 37px !important;
    color: #21bc27;
    margin: 0 !important;
  }
  &__body {
    margin-bottom: 38px;
    .MuiInputBase-root {
      height: 46px;
      gap: 10px;
      fieldset {
        border: 1px solid rgba(131, 155, 187, 0.4) !important;
        border-radius: 5px;
        height: 50px;
      }
      input {
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        color: #2a3b51;
      }
    }
    .inputText {
      font-weight: 400;
      font-size: 22px;
      line-height: 30px;
      color: #839bbb;
      white-space: nowrap;
      display: flex;
      align-items: center;
      gap: 6px;
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    &-text {
      font-style: italic;
      font-weight: 300 !important;
      font-size: 16.8px !important;
      line-height: 15px !important;
      text-align: center;
      color: #839bbb;
      margin: 0 !important;
    }
    &-total {
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 35px;
      color: #2a3b51;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      .cardBox-title {
        font-size: 26px !important;
        line-height: 35px !important;
      }
    }
  }
}
.copyBox {
  background: #ffffff;
  border: 1px solid rgba(131, 155, 187, 0.4);
  border-radius: 5px;
  width: 122px;
  height: 36px;
  padding: 8px 10px;
  box-sizing: border-box;
  fieldset {
    border: none;
  }
  input {
    font-weight: 400;
    font-size: 14.7px;
    line-height: 20px;
    text-align: center;
    color: #2a3b51;
    padding: 0;
  }
  button {
    padding: 0;
    height: 14px;
    width: 14px;
    svg {
      height: 14px;
      width: 14px;
    }
  }
}
.transactionCard {
  background: #ffffff;
  border: 1px solid #b5c3d6;
  border-radius: 10px;
  &__head {
    padding: 25px 30px;
    cursor: pointer;
    position: relative;
    &-title {
      font-weight: 700 !important;
      font-size: 20px !important;
      line-height: 27px !important;
      color: #2a3b51 !important;
      margin: 0 0 6px !important;
    }
    &-text {
      font-weight: 500 !important;
      font-size: 20px !important;
      line-height: 20px !important;
      margin: 0 !important;
      display: inline-block;
    }
    &-icon {
      display: inline-block;
      position: absolute;
      right: 30px;
      bottom: 25px;
      transition: all 0.5s ease;
    }
  }
  &__body {
    padding: 0 30px;
    border-top: 1px solid #b5c3d6;
  }
  &__list {
    padding: 28px 0;
  }
  &__listTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin: 0 0 10px;
    padding-left: 24px;
    .MuiTypography-root {
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: #000000;
      margin: 0 !important;
    }
  }
  &__listBox {
    padding: 0;
    margin: 0;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      margin: 0;
      padding-left: 24px;
      position: relative;
      .MuiTypography-root {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-align: right;
        color: #8c8c8c;
        &:first-child {
          border-left: 1px solid #d9d9d9;
          padding-left: 5px;
        }
      }
    }
    &--main {
      margin-top: 20px;
      li:first-child {
        margin: 0 0 6px;
        .MuiTypography-root {
          font-size: 16px;
          line-height: 22px;
          color: #2a3b51;
          border-left: none;
          padding-left: 0;
        }
        &::after {
          content: "x";
          font-size: 16px;
          line-height: 22px;
          position: absolute;
          left: 0;
        }
      }
    }
  }
  &__total {
    padding: 28px 0 48px;
    position: relative;
    &:after {
      content: "";
      left: 0;
      right: 0;
      top: 0;
      height: 1px;
      width: 100%;
      position: absolute;
      background: linear-gradient(180deg, #f7454520 0%, #3384f520 101.41%);
    }
  }
}
.tokenOtherInfos {
  background: #ffffff;
  border: 1px solid rgba(181, 195, 214, 0.4);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 35px 32px;
  &__title {
    font-weight: 700 !important;
    font-size: 21px !important;
    line-height: 28px !important;
    color: #000000;
    margin: 0 0 25px !important;
  }
  &__boldtext {
    font-weight: 700 !important;
    font-size: 18px !important;
    color: #000000;
    margin: 0 0 5px !important;
  }
  &__text {
    font-weight: 500 !important;
    font-size: 18px !important;
    color: #000000;
    margin: 0 0 5px !important;
  }
}
.mainSearchButton {
  background: #bbc3cb !important;
  margin-left: 0px;
  position: relative;
  transition: background 0.3s !important;
  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#e66465, #9198e5);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    border-radius: 0 40px 40px 0;
  }
  &:hover::before {
    opacity: 1;
  }
}
/*
Project: less intrusive search button
.mainSearchButton {
  background: transparent !important;
  img {
    filter: invert(0.4);
  }
}
.searchBlock-form {
  &:hover, &:has(input:focus) {
    .mainSearchButton {
      background: #bbc3cb !important;
      img {
        filter: invert(0);
      }
    }
  }
}
*/
.contractOtherInfos {
  margin: 40px 0 40px 0;
  background: #ffffff;
  border: 1px solid rgba(181, 195, 214, 0.4);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 35px 32px;
  &__title {
    font-weight: 700 !important;
    font-size: 21px !important;
    line-height: 28px !important;
    color: #000000;
    margin: 0 0 25px !important;
  }
  &__boldtext {
    font-weight: 700 !important;
    font-size: 18px !important;
    color: #000000;
    margin: 0 0 5px !important;
  }
  &__text {
    font-weight: 500 !important;
    font-size: 18px !important;
    color: #000000;
    margin: 0 0 5px !important;
  }
}
.treasuryBox {
  margin: 40px 0 0 0;
  background: #ffffff;
  border: 1px solid rgba(181, 195, 214, 0.4);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 35px 32px;
  &__title {
    font-weight: 700 !important;
    font-size: 21px !important;
    line-height: 28px !important;
    color: #000000;
    margin: 0 0 25px !important;
  }
  &__gradient {
    display: inline-block;
  }
}
.treasuryBox_generalinfo{
  background: #ffffff;
  border: 1px solid rgba(181, 195, 214, 0.4);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 35px 32px;
  &__title {
    font-weight: 700 !important;
    font-size: 21px !important;
    line-height: 28px !important;
    color: #000000;
    margin: 0 0 25px !important;
  }
  &__gradient {
    display: inline-block;
  }
}

.tokenInfo {
  background: #ffffff;
  border: 1px solid rgba(181, 195, 214, 0.4);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 35px 32px;
}
.operationCard {
  background: #ffffff;
  border: 1px solid rgba(181, 195, 214, 0.4);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 35px 32px;
  &__title {
    font-weight: 700 !important;
    font-size: 21px !important;
    line-height: 28px !important;
    color: #000000;
    margin: 0 0 25px !important;
  }
  &__tabs {
    height: 595px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 10px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background: #d9d9d966;
      border-radius: 10px;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #d9d9d9;
      border-radius: 10px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #eee;
    }
    .MuiTabs-root {
      position: relative;
      &::before {
        content: "";
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        position: absolute;
        background: linear-gradient(
          180deg,
          rgba(247, 69, 69, 0.1254901961) 0%,
          rgba(51, 132, 245, 0.1254901961) 101.41%
        );
      }
      .MuiButtonBase-root {
        width: 50%;
        min-width: 150px;
        font-weight: 700;
        font-size: 21px;
        line-height: 28px;
        text-transform: capitalize;
        color: #d9d9d9;
        &.Mui-selected {
          color: #2a3b51;
        }
      }
    }
    .MuiTabs-indicator {
      background: linear-gradient(152.26deg, #f74545 0%, #3384f5 101.41%);
      opacity: 0.4;
      border-radius: 1px;
      height: 4px;
    }
  }
  .MuiTabs-root + div > .MuiBox-root {
    padding: 18px 0;
  }
}
.TransmitterCard {
  border: 1.05px solid rgba(131, 155, 187, 0.2);
  border-radius: 5.25px;
  padding: 15px;
  margin-bottom: 15px;
  transition: all 0.5s ease;
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(131, 155, 187, 0.1);
    &-text {
      font-weight: 300;
      font-size: 16.8px;
      line-height: 15px;
      color: #839bbb;
    }
  }
  &__title {
    font-weight: 400 !important;
    font-size: 16.8px !important;
    line-height: 23px !important;
    color: #21bc27;
    display: flex;
    align-items: center;
    gap: 10px;
    svg {
      height: 16px;
      width: 16px;
    }
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 6px 0;
    .MuiInputBase-root {
      display: flex;
      align-items: center;
      gap: 15px;
      &::after,
      &::before {
        display: none;
      }
      .MuiBox-root {
        font-weight: 400;
        font-size: 16.8px;
        line-height: 23px;
        color: #839bbb;
      }
      input {
        font-weight: 400;
        font-size: 16.8px;
        line-height: 23px;
        color: #2a3b51;
        padding: 0;
        margin: 0;
      }
    }
  }
  &__status {
    font-weight: 700;
    font-size: 18.9px;
    line-height: 26px;
    text-align: center;
    color: #2a3b51;
    display: flex;
    align-items: center;
    gap: 0px;
  }
  &:hover {
    border: 1.05px solid #53d258;
  }
}
.costContract {
  background-color: #ffffff;
  display: inline-block;
  border-radius: 5px;
  border: 1.05px solid rgba(131, 155, 187, 0.2);
  box-sizing: border-box;
  padding: 20px 9px;
  margin-top: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  &__text {
    font-size: 15px !important;
  }
}
.ElevationBox {
  padding: 20px 25px;
  border: 1px solid rgba(181, 195, 214, 0.4);
  box-sizing: border-box;
}
.backgroundBox {
  width: 120vw;
  height: 120vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999999;
}
.WalletBoxCard {
  .cardBox-price {
    justify-content: center;
    text-align: center;
  }
  .cardBox-data {
    width: 100%;

    .cardBox-head {
      .MuiBox-root {
        align-items: center;
        gap: 6px;
        .cardBox-title {
          font-weight: 500 !important;
          font-size: 36px !important;
          line-height: 37px !important;
          justify-content: center;
        }
      }
      .InputField {
        padding: 0;
        max-width: 141px;
        background-color: #fff;
        input {
          padding: 7px 35px 7px 12px;
          font-weight: 400;
          font-size: 14.7px;
          line-height: 20px;
          color: #2a3b51;
          cursor: pointer;
        }
        input.Mui-disabled {
          -webkit-text-fill-color: #2a3b51;
        }
        svg {
          position: absolute;
          right: 10px;
          width: 14px;
        }
      }
    }
    .cardBox-body {
      margin-top: 35px;
      .css-1xgjpwf-MuiGrid-root {
        margin: 0;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        .css-htcl07-MuiGrid-root,
        .css-1oztqwo-MuiGrid-root {
          max-width: fit-content;
          .cardBox-price {
            width: fit-content;
            text-align: center;
            margin: auto;
            font-weight: 700;
            font-size: 20px;
            color: #839bbb;
            line-height: 27px;
            &:first-child {
              padding: 0 15px;
            }
            span {
              font-size: 36px;
              line-height: 49px;
            }
          }
        }
      }
    }
  }
}
.WalletCard {
  padding: 40px 45px;
  background: #ffffff;
  border: 1px solid rgba(181, 195, 214, 0.4);
  border-radius: 10px;
  &__title {
    font-weight: 700 !important;
    font-size: 21px !important;
    line-height: 28px !important;
    color: #000000;
    margin: 0 0 25px !important;
  }
}
.WalletOprationCard {
  .TransmitterCard {
    opacity: 100%;
    margin-bottom: 10px;
    &:hover {
      border-color: inherit;
    }
    &__title {
      color: #839bbb;
      svg {
        path {
          fill: #839bbb;
          &:first-child {
            stroke: #839bbb;
          }
        }
      }
    }
    &__status {
      max-width: 130px;
      width: 100%;
      gap: 0 px;
    }
  }
  .TransmitterCard.success {
    border: 1.05px solid #21bc27;
    .TransmitterCard__title {
      color: #21bc27;
      svg {
        path {
          fill: #21bc27;
          &:first-child {
            stroke: #21bc27;
          }
        }
      }
    }
  }
  .TransmitterCard.danger {
    border: 1.05px solid #bc2121;
    .TransmitterCard__title {
      color: #bc2121;
      svg {
        path {
          fill: #bc2121;
          &:first-child {
            stroke: #bc2121;
          }
        }
      }
    }
  }
  
  .crypto{
    margin-top: 20px !important;
  }
  .ElevationBox {
    padding: 20px 25px;
    border: 1px solid rgba(181, 195, 214, 0.4);
    box-sizing: border-box;
    
    &__title {
      font-weight: 700;
      font-size: 21px;
      line-height: 28px;
      color: #2a3b51;
      margin: 0;
    }
    .SwitchDetail {
      font-style: italic;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #839bbb;
    }
    .SwitchBtnToggler {
      padding: 0;
      height: 20px;
      width: 40px;
      border-radius: 10.5px;
      background-color: #f7931a;
      .css-ars20s-MuiButtonBase-root-MuiSwitch-switchBase {
        padding: 0;
      }
      .css-ars20s-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
        color: #fff;
      }
    }
    .MonnaiseTable {
      margin-top: 10px;
      max-height: 215px;
      padding-right: 10px;
      td {
        padding: 15px 0;
        .profilePart {
          display: flex;
          align-items: center;
          gap: 13px;
          &__text {
            span {
              color: #839bbb;
              font-weight: 500;
              font-size: 16.8px;
              line-height: 23px;
              margin-right: 5px;
              &:last-child {
                margin-right: 0;
                color: #a0a3bd;
              }
            }
          }
        }
        .tablerighttext {
          font-weight: 700;
          font-size: 18.9px;
          line-height: 26px;
          color: #2a3b51;
        }
      }
    }
  }
}
.addMetamaskParent {
  width: 100%;
  display: flex;
  justify-content: right;
}
.addMetamask {
  cursor: pointer;
  border: 1px solid #2a3b51;
  background-color: #ffffff;
  display: inline-block;
  border-radius: 100px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  margin-top: 15px;
  &__p {
    font-size: 21px !important;
  }
}
.listTableBlock {
  .sectionHead {
    margin-bottom: 0;
  }
}

// NEW CODE BY ALBAN START

.main-header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  &__container {
    width: 1328px;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    &__black-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 100;
      background-color: #00000088;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.3s;
      cursor: pointer;
    }
    &__left {
      width: 20%;
      height: 100%;
      display: flex;
      align-items: center;
      a {
        height: 80%;
      }
      img {
        height: 100%;
      }
    }
    &__center {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60%;
      z-index: 101;
      transition: width 0.3s;
      &__input {
        border-radius: 100px;
        overflow: hidden;
        height: 55%;
        display: flex;
        align-items: center;
        border: 1px solid #b3b3b3;
        width: 600px;
        max-width: 80%;
        input {
          background: transparent;
          border-radius: 100px 0 0 100px;
          height: 100%;
          outline: none;
          padding: 0 30px;
          width: 100%;
          border: none;
          font-size: 1.2em;
        }
        div {
          display: flex;
          align-items: center;
          height: 100%;
          cursor: pointer;
          transition: background-color 0.2s;
          padding-right: 10px;
        }
        div:hover {
          background-color: #f5f6f8;
        }
        img {
          height: 60%;
          padding: 0;
        }
      }
      &__input:hover, &__input:focus-within {
        outline: 1px solid #ababab;
      }
    }
    &__right {
      width: 20%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      select {
        background-color: #e6e7e9;
        padding: 0 20px;
        height: 40%;
        appearance: none;
        border-radius: 100px;
        outline: none;
        cursor: pointer;
        text-align-last: center;
        transition: background-color 0.2s;
      }
      select:hover {
        background-color: #d8d8da;
      }
    }
  }
}

.generalInfos {
  width: 100%;
  background: linear-gradient(150deg, #F2474A20, #3E81EC20);
  border-radius: 20px;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  &__top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    &__copy {
      display: flex;
      align-items: center;
      font-size: 15px;
      background-color: #ffffff;
      cursor: pointer;
      border: 2px solid #839BBB66;
      padding: 6px 16px;
      border-radius: 5px;
      max-width: 40%;
      color: #2a3b51;
      align-self: flex-start;
      transition: border 0.2s;
    }
    &__copy svg {
      height: 20px;
    }
    &__copy:hover {
      border: 2px solid #839BBB;
    }
  }
  &__top h2 {
    font-size: 34px;
    font-weight: 500;
    color: #2a3b51;
    width: 60%;
    display: flex;
    align-items: center;

    img {
      width: 70px;
      height: 70px;
      margin-right: 10px;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    text-align: center;
    &__var {
      font-size: 22px;
      font-weight: 700;
      color: #839BBB;
      display: flex;
      align-items: center;
      min-height: 40px;
    }
    &__value {
      font-size: 28px;
      font-weight: 700;
      background: linear-gradient(-30deg,#F64545, #3384F5);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      display: flex;
      align-items: center;
      min-height: 40px;
      white-space: nowrap;
    }
  }
  &__bottom div {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__bottom .divider {
    width: 80%;
    height: 2px;
    background-color: #839BBB;
  }

  @media (min-width: 1000px) and (max-width: 1199px) {
    &__bottom {
      &__var {
        font-size: 18px;
      }
      &__value {
        font-size: 22px;
      }
    }
  }

  @media (min-width: 900px) and (max-width: 999px) {
    &__bottom {
      &__var {
        font-size: 16px;
      }
      &__value {
        font-size: 20px;
      }
    }
  }
}

.MainInfos {
  width: 100%;
  background: linear-gradient(150deg, #F2474A20, #3E81EC20);
  border-radius: 20px;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  .__top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-bottom: 30px;
    &__copy {
      display: flex;
      align-items: center;
      font-size: 15px;
      background-color: #ffffff;
      cursor: pointer;
      border: 2px solid #839BBB66;
      padding: 6px 16px;
      border-radius: 5px;
      max-width: 40%;
      color: #2a3b51;
      align-self: flex-start;
      transition: border 0.2s;
    }
    &__copy svg {
      height: 20px;
    }
    &__copy:hover {
      border: 2px solid #839BBB;
    }
  }
  .__top h2 {
    font-size: 34px;
    font-weight: 500;
    color: #2a3b51;
    width: 60%;
    display: flex;
    align-items: center;

    img {
      width: 70px;
      height: 70px;
      margin-right: 10px;
    }
  }
  .__bottom {
    display: flex;
    justify-content: center;
    text-align: center;
    &__var {
      font-size: 18px;
      font-weight: 700;
      color: #839BBB;
      display: flex;
      align-items: center;
      min-height: 30px;
    }
    &__value {
      font-size: 34px;
      font-weight: 700;
      background: linear-gradient(-30deg,#F64545, #3384F5);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      display: flex;
      align-items: center;
      min-height: 50px;
      white-space: nowrap;
    }
  }
  .__bottom div {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .__bottom .divider {
    width: 80%;
    height: 2px;
    background-color: #839BBB;
  }

  @media (min-width: 1000px) and (max-width: 1199px) {
    .__bottom {
      &__var {
        font-size: 18px;
      }
      &__value {
        font-size: 22px;
      }
    }
  }

  @media (min-width: 900px) and (max-width: 999px) {
    .__bottom {
      &__var {
        font-size: 16px;
      }
      &__value {
        font-size: 20px;
      }
    }
  }
}

.otherInfos {
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid rgba(181, 195, 214, 0.4);
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.otherInfos h3 {
  font-size: 22px;
  font-weight: 700;
  color: #2a3b51;
  margin-bottom: 5px;
}
.otherInfos p {
  font-size: 20px;
  color: #2a3b51;
}
.otherInfos p a {
  background: linear-gradient(-30deg,#F64545, #3384F5);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: border-bottom 0.1s;
}
.otherInfos p a:hover {
  border-bottom: 1px solid #94649D;
}

.operationsBox {
  width: 100%;
  padding: 25px;

  &__batch {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px 20px;
    border: #d6d6d6 1px solid;

    &__operation {
      display: flex;
      justify-content: space-between;

      &__start {
        display: flex;
        align-items: start;
        max-width: 50%;
        gap: 20px;
        margin-bottom: 10px;

        img.accountIcon {
          height: 50px;
          object-fit: scale-down;
          width: auto;
        }

        &__name {
          font-size: 18px;
          font-weight: 700;
          color: #2a3b51;
          line-height: 25px;
        }

        &__date {
          font-size: 16px;
          font-weight: 500;
          color: #2a3b51a0;
          display: flex;
          align-items: center;
          line-height: 25px;

          img.statusIcon {
            margin-right: 5px;
          }
        }

        &__method pre {
          color: #4c4b4b;
          line-height: 25px;
          font-size: 14px;
        }
      }
      &__end {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          text-align: right;
          padding: 1px 4px;

          pre {
            display: inline-block;
            color: #646464;
            margin-left: 5px;
          }
        }

        p {
          display: flex;
          align-items: center;
          justify-content: end;

          img.coinIcon {
            width: 30px;
            height: 30px;
          }

          img {
            margin-right: 5px;
          }

          span {
            // flex: 1;
            text-align: right;
          }
        }

        p.nft img {
          border: 1px solid grey;
          border-radius: 10px;
        }
      }
    }

    &__more {
      padding: 20px 0px 0px 70px;
      font-size: 18px;
      // font-weight: 700;
    }
  }
}

.box {
  background: white;
  border: 2px solid #0000002b;
  padding: 25px;
  border-radius: 20px;

  h3 {
    font-size: 24px;
    font-weight: 700;
    color: #2a3b51;
    margin-bottom: 25px;
    margin-left: 15px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 15px;
    margin-bottom: 25px;

    h3 {
      margin: 0;
    }

    .headerInfo {
      color: grey;
      font-style: italic;
    }
  }
}

.hoverItem {
  background-color: #f6f6f680;
  transition: background-color 0.2s, box-shadow 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #e6e7e9;
  }
}

.coinBox {
  width: 100%;

  &__container {
    background-color: #ffffff;
    border-radius: 15px;
  }
  &__coin-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__coin {
    width: 100%;
    border-radius: 5px;
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    &__left {
      height: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      &__title {
        font-size: 20px;
        color: #2A3B51;

        .ticker {
          padding: 5px;
        }
      }
    }
    &__left img {
      width: 40px;
      height: 40px;
    }
    &__right {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      font-size: 20px;
      font-weight: 500;
      color: #2A3B51;
    }
  }
  &__coin::after {
    content: "";
    width: 90%;
    height: 1px;
    background-color: #2A3B5188;
    position: absolute;
    bottom: -5px;
    left: 5%;
  }
  &__coin:last-child::after {
    display: none;
  }
}

@media screen and (max-width: 899px) {
  .main-header__container__left {
    width: 5%;
  }
  .main-header__container__center {
    width: 75%;
  }
  .main-header__container__right {
    width: 20%;
  }
  .main-header__container__left__biglogo {
    display: none;
  }
}

@media screen and (max-width: 799px) {
  .main-header__container__left {
    width: auto;
  }
  .main-header__container__right {
    width: 50%;
    transition: opacity 0.2s;
  }
  .main-header__container__center {
    margin-right: auto;
    margin-left: 20px;
    width: 69px;
    &__input {
      width: auto;
      transition: width 5.3s;
      input {
        display: none;
        transition: width 0.3s;
      }
      div {
        padding: 0;
        width: 66.78px;
        justify-content: center;
      }
    }
  }
  .main-header__container__search-active {
    .main-header__container__black-overlay {
      pointer-events: all;
      opacity: 1;
    }
    .main-header__container__right {
      display: none;
      opacity: 0;
    }
    .main-header__container__center {
      margin-right: 0;
      width: 100%;
      &__input {
        width: 100%;
        max-width: 100%;
        background-color: #f5f6f8;
        input {
          display: block;
          width: 100%;
        }
      }

    }
  }
}
// NEW CODE BY ALBAN END

@media only screen and (max-width: 1199px) {
  .transferCard {
    &__title {
      font-size: 26px !important;
      line-height: 37px !important;
    }
  }
  .WalletBoxCard {
    .cardBox-price {
      padding: 0 !important;
      span {
        font-size: 26px !important;
        line-height: normal !important;
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .SearchBox {
    width: auto;
  }
}
@media only screen and (max-width: 900px) {
  .TabNone {
    display: none;
  }
  .pageTemplate {
    &__body {
      .MuiGrid-item.MuiGrid-grid-md-6 {
        width: 100%;
      }
    }
  }
  .WalletOprationCard {
    .walletProfile {
      > .MuiGrid-root.MuiGrid-grid-md-6 {
        padding: 0;
        width: 100%;
        &:first-child {
          margin-bottom: 30px;
        }
      }
    }
  }
  .metamaskBouton {
    background-color: white;
    border: 1px solid rgba(181, 195, 214, 0.4);
    border-radius: 50%;
  }
}
@media only screen and (max-width: 575px) {
  .headCrumb {
    padding: 15px 0 !important;
  }
  .headCrumb-inner {
    gap: 15px;
    p,
    button {
      font-size: 14px;
      line-height: normal;
    }
    button {
      padding: 6px 10px;
    }
  }
  .siteHeader-inner {
    flex-wrap: wrap;
    padding: 15px 0 !important;
    border: none;
    > .MuiBox-root.css-0 {
      width: 100%;
      order: 1;
      margin-top: 25px;
    }
  }
  .pageTemplate {
    &__title {
      font-size: 20px !important;
      line-height: 27px !important;
    }
    &__status {
      padding: 6px 15px;
    }
  }
  .transferCard {
    padding: 15px;
    &__head {
      margin-bottom: 15px;
    }
    &__title {
      font-size: 16px !important;
      line-height: 37px !important;
    }
    &__body {
      margin-bottom: 45px;
      .MuiInputBase-root {
        height: auto;
        padding: 6px 8px;
        .inputText,
        input {
          font-size: 14px;
          line-height: 19px;
          padding: 0;
        }
        fieldset {
          height: auto;
        }
      }
    }
    &__footer {
      &-text {
        font-size: 12px !important;
        line-height: 15px !important;
      }
      &-total {
        img {
          height: 20px;
          width: 20px;
        }
        .cardBox-title {
          font-size: 14px !important;
          line-height: 19px !important;
        }
      }
    }
  }
  .copyBox {
    display: flex;
    input {
      font-size: 12px;
      line-height: 16px;
    }
  }
  .transactionCard {
    &__head {
      padding: 15px;
      &-title {
        font-size: 14px !important;
        line-height: 25px !important;
      }
      &-text {
        font-size: 16px !important;
        line-height: 14px !important;
      }
    }
    &__body {
      padding: 0 15px;
    }
    &__listTitle {
      .MuiTypography-root {
        font-size: 16px;
        line-height: 22px;
      }
    }
    &__listBox {
      &--main {
        margin-top: 10px;
      }
    }
    &__list {
      padding: 20px 0;
    }
    &__total {
      padding: 10px 0 26px;
    }
  }
  .TransmitterCard {
    &__body {
      .css-zow5z4-MuiGrid-root {
        flex-direction: column;
        margin: 0;
        row-gap: 10px;
        > .MuiGrid-item {
          padding: 0;
        }
        .MuiGrid-item.MuiGrid-grid-xs-2 {
          display: none !important;
        }
      }
    }
  }
  .WalletBoxCard {
    .cardBox-inner {
      padding: 15px;
      .cardBox-data {
        .cardBox-head {
          .cardBox-title {
            font-size: 24px !important;
          }
          .InputField {
            max-width: 115px;
            input {
              font-size: 12px;
              line-height: 16px;
            }
          }
        }
        .cardBox-body {
          margin-top: 20px;
          .cardBox-price {
            padding: 5px !important;
            font-size: 14px !important;
            line-height: 19px !important;
            span {
              font-size: 16px !important;
              line-height: 22px !important;
            }
          }
        }
      }
    }
  }
  .TransmitterCard {
    &__head {
      &-text {
        font-size: 12px;
        line-height: 15px;
      }
    }
    &__title {
      font-size: 14px !important;
      line-height: 19px !important;
    }
    &__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 6px 0;
      .MuiInputBase-root {
        .MuiBox-root,
        input {
          font-size: 14px;
          line-height: 19px;
        }
      }
    }
    &__status {
      font-size: 14px;
      line-height: 19px;
      justify-content: end;
    }
  }
  .operationCard {
    padding: 25px 15px;
    border: none;
    &__title {
      font-size: 16px !important;
      line-height: 22px !important;
    }
  }
  .WalletOprationCard {
    padding-top: 0;
    .css-19r6kue-MuiContainer-root {
      padding: 0;
      .MuiGrid-grid-md-6,
      .pageTemplate__head {
        padding: 0 20px !important;
      }
    }
    .ElevationBox {
      &__title {
        font-size: 16px;
        line-height: 22px;
      }
      .SwitchDetail {
        display: none;
      }
      .MonnaiseTable {
        td {
          .profilePart {
            &__text {
              span {
                font-size: 14px;
                line-height: 19px;
              }
            }
          }
          .tablerighttext {
            font-size: 14px;
            line-height: 19px;
          }
        }
      }
    }
  }
  .searchBlock {
    padding: 80px 0;
    p {
      font-size: 28px;
      line-height: normal;
    }
    &-form {
      input {
        padding-left: 15px;
      }
    }
  }
  .listTableBlock {
    margin: 30px 0;
  }
}
.languageSelect {
  transform: scale(1.2);
  position: relative;
  right: 16px;
}
// :has is compatible with only 90% of users.
// However it's not a big deal if this rule is not applied ;p
div.MuiPaper-root:has(> [aria-labelledby="languageSelect"]) {
  transform: scale(1.2) !important;
}

.TokenRanking {
  font-size: 16px;

  &-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  &-group {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &-TokenBox {
    flex: 1;
    width: 300px;
    border: 1px solid rgb(179 193 213 / 12%);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    color: grey;
    text-decoration: none;
    background-color: #cac1c121;

    &:hover {
      border-color: transparent;
      box-shadow: 0 1px 6px rgba(32,33,36,.28);
    }
  }

  &-line {
    display: flex;
    height: 100%;
  }

  &-col {
    margin: 0;
    padding: 5px 10px;
  }

  &-col img {
    height: 80%;
  }

  &-col:nth-child(2) {
    align-items: center;
    flex: 1;
    max-width: 60%;
  }

  &-names {
    display: flex;
    align-items: end;
    line-height: 30px;
    padding: 5px 0;
  }

  &-name {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    color: black;
  }

  &-ticker {
    color: grey;
    font-size: 16px;
    padding-left: 10px;
    line-height: 26px;
    text-align: right;
    height: 26px;
  }

  &-price {
    font-size: 18px;
    color: grey;
  }
}

.TokenRanking-Swiper {

}

.TokenRanking-slide {
  border: solid 1px black;
}
